*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: rgb(186, 224, 224); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;


}
#nav h3{
    border: 2px solid black;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 50px;
    
}
#nav i{
    border: 2px solid black;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 50px;
    
}
#nav h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;

}
#nav button{
    border-radius: 50px;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 700;
}
#btn2{
    border: none;
    color: white;
    background-color: orangered;
}

#main>h1{
    text-transform: uppercase;
    font-size: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 380px;
    width: 370px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);

}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
